<div class="box round-corners">
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quote</th>
                <th nowrap="nowrap">Added By</th>
                <th>Added</th>
            </tr>    
        </thead>
        <tbody>
            <?php echo $this->partialLoop('quote-tablerow.phtml', $this->quotes); ?>
        </tbody>
    </table>
</div>

<div class="box center round-corners page-select">
    <form action="" method="post">
        <span>
            <?php for($page = 1;$page < $this->pages; $page++): ?>
                <input type="radio" id="page-<?php echo $page ?>" value="<?php echo $page ?>" name="page" 
                <?php if($page == $this->page): ?>checked="checked"<?php endif; ?> />
                <label for="page-<?php echo $page ?>"><?php echo $page ?></label>
            <?php endfor; ?>
        </span>
    </form>
</div>