<?php if(!mb_check_encoding($this->quote->getQuote(),'utf-8'))
    $this->quote->setQuote(mb_convert_encoding($this->quote->getQuote(), 'utf-8')); ?>
<div class="box-inline round-corners">
    <section>
        <article>
            <h2>&ldquo;<?php 
            echo $this->ircFormat( 
                $this->highlightNick(
                    htmlspecialchars($this->quote->getQuote()),
                    $this->quote->getNick()
                ))
                ->getMessageFormatted(); 
            ?>&rdquo;</h2>
            <?php $addedBy = $this->ircMask($this->quote->getAddedBy()); ?>
            <?php if($addedBy->getNick() == "I"): ?>
                <p>Böse kräfte waren im Spiel!</p>
            <?php else: ?>
                <p>Hinzugefügt von <?php echo $addedBy->getNick(); ?></p>
            <?php endif; ?>
        </article>
    </section>
</div>