@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
* { padding: 0; margin: 0; }
body { background-color: #3f3f3f; font-family: 'Open Sans', sans-serif; font-size: 10pt; color: #f0f0f0; }

h1, h2, h3, h4, h5, h6, h7 { font-weight: normal; }
strong { font-weight: 600; }

a, a:active, a:visited { color: #ffe6cc; text-decoration: none; }
a:hover { text-decoration: underline; }

table { border-spacing: 0; }
table th { padding: 4px; font-weight: 600; color: #b4ffb6; }
table td { padding: 4px; }
table td.right { text-align: right; }
table thead tr { background-color: #5f5f5f; }
table tbody tr.row1 { background-color: #3f3f3f; }
table tbody tr.row2 { background-color: #4f4f4f; }
table tbody tr.tr-hover { background-color: #6f6f6f; }

header { background-image: url(/images/qgLogo.png); background-repeat: no-repeat; background-position: 2px 2px; background-color: #ffffff; color: #2f2f2f; padding: 6px; padding-left: 49px; }
header strong { color: #ff860d; }

nav { background-color: #f0f0f0; overflow: hidden; }
nav ul { list-style: none; }
nav li { float: left; padding: 3px 10px; margin-right: 5px; background-color: #eeeeee; }
nav li.hover { background-color: #ffffff; }
nav li a, nav li a:visited, nav li a:active { color: #785305; }
.overview nav li.overview, 
.single-quote nav li.single-quote, 
.admin nav li.admin,
.login nav li.login { 
	background-color: #ffffff;
	font-weight: 600;
	box-shadow: 0 0 5px #aaaaaa;
}

div.content { margin: 12px; width: 1000px; }

div.round-corners { border-radius: 4px; }
div.center { text-align: center; }

div.box { padding: 5px; background-color: #4f4f4f; margin-top: 10px; }
div.box:first-of-type { margin-top: 0; }

div.box-inline { display: inline-block; background-color: #4f4f4f; padding: 5px; }
div.box-inline h2 { color: #b4ffb6; margin: 4px; }
div.box-inline p { margin: 5px; font-style: italic; }

span.highlight { color: #ffcf6a; font-weight: 600; }

footer { background-color: #2f2f2f; padding: 5px; font-size: 8pt; overflow: hidden; border-top: 2px solid #383838; }
footer ul { list-style: none; }
footer li { float: left; margin-right: 5px; padding-right: 5px; border-right: 1px solid #4f4f4f; height: 100%; }
footer li:last-of-type { border: 0; padding: 0; margin: 0; }

.static-marker { position: fixed; top: 0px; left: 1024px; height: 100%; border-right: 1px dotted #ff0000; }