<tr class="quote-row" id="quote_<?php echo $this->model->id ?>">
<td class="right">#<?php echo $this->model->id; ?></td>
    <td><?php 
        echo $this->ircFormat( 
            $this->highlightNick( 
                htmlspecialchars( $this->model->quote ),
                $this->model->nick
            ))
            ->getMessageFormatted(); 
    ?></td>
    <?php $byNick = $this->ircMask($this->model->addedBy)->getNick(); ?>
    <?php if($byNick == "I"): ?>
        <td nowrap="nowrap"><span class="highlight">Black Magic</span></td>
    <?php else: ?>
        <td><?php echo $byNick ?></td>
    <?php endif; ?>
    <td nowrap="nowrap"><?php echo strftime('%d.%m.%Y - %H:%M:%S',$this->model->addedAt); ?></td>
</tr>