<footer>
    <ul>
        <li>
            <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">QuoteGrabs DB Frontend</span> von <a xmlns:cc="http://creativecommons.org/ns#" href="http://quotegrabs.yas-online.net" property="cc:attributionName" rel="cc:attributionURL">David Marner</a> steht unter einer <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons<br />
            Namensnennung-Nicht-kommerziell-Weitergabe unter gleichen Bedingungen 3.0 Unported Lizenz</a>.</li>
        <li>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
            <img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" />
            </a>
        </li>
        <li>
            <a href="http://framework.zend.com" target="_blank"><img src="http://framework.zend.com/images/PoweredBy_ZF_4DarkBG.png" alt="zend logo" /></a>
        </li>
    </ul>
</footer>