<?php echo $this->doctype(); ?>

<html>
<head>

    <base href="<?php echo $this->baseUrl(); ?>" />

    <?php echo $this->headTitle() ?>
    
    <?php echo $this->headMeta() ?>
    
    <?php echo $this->headLink() ?>
    
    <?php echo $this->headScript() ?>
    
    <!-- 
    
    <?php readfile(APPLICATION_PATH . '/../data/VERSION'); ?> 
    
    -->
        
</head>

<body<?php 
if($this->documentClasses){
    echo ' class="', implode(' ',$this->documentClasses), '"';
}
?>>

    <!-- Header -->
    <header>
        <h1>Quote<strong>Grabs</strong> DB - <?php echo ucwords($this->action) ?></h1>    
    </header>
    
    <!-- Navigation -->
    <?php echo $this->partial('navigation.phtml',$this); ?>
    
    
    <!-- Content -->
    <div class="content">
        <?php echo $this->layout()->content ?>        
    </div>
    
    
    <!-- Copyright -->
    <?php echo $this->partial('copyrights.phtml') ?>
    
    
    <?php if(APPLICATION_ENV != 'production'): ?>
        <div class="static-marker"></div>
    <?php endif; ?>

</body>
</html>