<nav>
    <ul>
        <li class="overview"><a href="<?php echo $this->baseUrl('/'); ?>">Übersicht</a></li>
        <li class="single-quote"><a href="<?php echo $this->baseUrl('quote/random'); ?>">Einzel Quote</a></li>
        <?php if($this->model->loggedIn): ?>
            <li class="admin"><a href="<?php echo $this->baseUrl('admin'); ?>">Administration</a></li>
            <li class="login"><a href="<?php echo $this->baseUrl('admin/auth/logout'); ?>">Logout</a></li>
        <?php else: ?>
            <li class="login"><a href="<?php echo $this->baseUrl('login'); ?>">Login</a></li>
        <?php endif; ?>
    </ul>
</nav>